

.sections{ 
    width: 100%;
    height: 600px;
    text-align: center;}
#section1{

    background-image: url(HOME.jpeg); 
    background-repeat: no-repeat; 
    background-size: cover;
     height: 600px; 
     width: 100%;
     color: white;
}


#section2{

    background-color: #ddd;
}

#section3{

    background-color: #ccc;
}


#section4{

    background-color: #ddd;
}

#section5{

    background-color: #ccc;
}

body{

    padding: 0px;
    margin: 0px;
}

.flex{

    display: flex;
    align-items: center;
    justify-content: center;
}

h1,h2{

    font-family:'Bebas Neue', corsive;
    font-size: 70px;
    margin: 0px;

}
p{

    font-family: 'Lato', sans-serif;
    font-size: 21px;
}


#menu{

    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
}

#menu ul{

    margin: 0px;
}

#menu li{

    display: inline;
    margin: 0px 50px;
    font-family:'Bebas Neue', corsive;
    color: white;
    font-size: 35px;

}

#menu li:hover{

    cursor: pointer;
    text-decoration: underline;
}

.circular{

    border-radius: 50%;

}